/*
COLORS:

Silver: #8A8D8F , rgba(138,141,143,1)
Yellow: #FFCC00 , rgba(255,204,0,1)
Northwest Green: #00685E , rgba(0,104,94,1)
Navy Blue: #0C2340 , rgba(12,35,64,1)

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: #8A8D8F;
	padding: 30px;
}

.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom, rgba(0, 104, 94, 0.9), rgba(12,35,64,0.9) ), url(../images/mariners-hero.jpg);
	background-size: cover;
	background-position: top;
	position: relative;

	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

.text-box {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.heading-primary {
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 20%;

	backface-visibility: hidden;
}

.heading-primary-main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 33px;

	animation-name: moveInLeft;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 20px;
	animation: moveInRight 1s ease-out; /*shorthand for calling animations*/
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	70% {
		transform: translateX(10px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	70% {
		transform: translateX(-10px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes moveInBottom {
	0% {
		opacity: 0;
		transform: translateY(30px);
	}
	
	100% {
		opacity: 1;
		transform: translate(0);
	}
}

.btn:link,
.btn:visited {
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 40px;
	display: inline-block;
	border-radius: 100px;
	transition: all .2s; /*shorthand for transition*/
	position: relative;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
}

.btn-white {
	background-color: #fff;
	color: #8A8D8F;
}

.btn-animated {
	animation: moveInBottom .5s ease-out .75s;
	animation-fill-mode: backwards;
}

.btn::after {
	content: "";
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 100px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .4s;
	z-index: -1;
}

.btn-white::after {
	background-color: #fff;
}

.btn:hover::after {
	transform: scale(1.5);
	opacity: 0;
}