/*=============================================>>>>>
					COLORS
===============================================>>>>>*/
$color-white-smoke: #F5F5F5;
$color-mariner-silver: #8A8D8F; 
$color-mariner-yellow: #FFCC00;
$color-mariner-primary: #00685E;
$color-mariner-secondary: #0C2340;
$color-white: #fff;
$color-black: #000;

/*=============================================>>>>>
					FONT 
===============================================>>>>>*/

$default-font-size: 1.6rem;

/*=============================================>>>>>
					GRID
===============================================>>>>>*/
$grid-width: 114rem; //px defined to be 1rem to equal 10px... this is equal to 1140px
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
