.header {
	height: 95vh;
	background-image: linear-gradient(to right bottom, rgba($color-mariner-secondary, 0.9), rgba($color-mariner-primary, 0.9) ), url(../images/mariner-hero-2.jpg);
	background-size: cover;
	background-position: top;
	position: relative;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

	&__logo-box {
		position: absolute;
		top: 4rem;
		left: 4rem;
	}

	&__logo {
		height: 3.5rem;
	}

	&__text-box {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}
}