.nav {

	&__checkbox {
		display: none;
	}

	&__btn {
		background-color: $color-white;
		height: 7rem;
		width: 7rem;
		position: fixed;
		top: 6rem;
		right: 6rem;
		border-radius: 50%;
		z-index: 2000;
		box-shadow: 0 1rem 3rem rgba($color-black, .2);
		text-align: center;
		cursor: pointer;
	}

	&__background {
		height: 6rem;
		width: 6rem;
		border-radius: 50%;
		position: fixed;
		top: 6.5rem;
		right: 6.5rem;
		background-image: radial-gradient($color-mariner-primary, $color-mariner-secondary);
		z-index: 1000;
		transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

		// transform: scale(100);
	}

	&__navigation {
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1500;
		
		opacity: 0;
		width: 0;
		transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	&__list {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		list-style: none;
		text-align: center;
		width: 100%;
	}

	&__item {
		margin: 1rem;
	}

	&__link {
		&:link,
		&:visited{
			font-size: 3rem;
			font-weight: 300;
			padding: 1rem 2rem;
			color: $color-white;
			text-decoration: none;
			text-transform: uppercase;
			background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-mariner-secondary 50%);
			background-size: 300%;
			transition: all .4s;
			display: inline-block;
		}

		&:hover,
		&:active {
			background-position: 100%;
			color: $color-white;
			transform: tranlateX(1rem);
		}
	}

	//functionality 
	&__checkbox:checked ~ &__background {
		transform: scale(100);
	}

	&__checkbox:checked ~ &__navigation {
		opacity: 1;
		width: 100%;
	}

	//hamburger icon
	&__icon {
		position: relative;
		margin-top: 3.4rem;

		&,
		&::before,
		&::after {
			width: 3rem;
			height: 3px;
			background-color: $color-mariner-retro-yellow;
			display: inline-block;
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			left: 0;
			transition: all .2s;
		}

		&::before { top: -.8rem; }
		&::after { top: .8rem; }
	}

	&__btn:hover &__icon::before {
		top: -1rem;
	}

	&__btn:hover &__icon::after {
		top: 1rem;
	}

	&__checkbox:checked + &__btn &__icon {
		background-color: transparent;
	}
	&__checkbox:checked + &__btn &__icon::before {
		top: 0;
		transform: rotate(135deg);
	}
	&__checkbox:checked + &__btn &__icon::after {
		top: 0;
		transform: rotate(-135deg);
	}
}
