.btn {
	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s; /*shorthand for transition*/
		position: relative;
		font-size: $default-font-size;
	}

	&:hover {
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black, .3);

		&::after {
			transform: scale(1.5);
			opacity: 0;
		}
	
	}

	&:active {
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba($color-black, .3);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .4s;
		z-index: -1;
	}

	&--white {
		background-color: $color-white;
		color: $color-mariner-silver;
		
		&::after {
			background-color: $color-white;
		}
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}

.btn-text {
	&:link,
	&:visited {
		font-size: $default-font-size;
		color: $color-mariner-primary;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid $color-mariner-primary;
		padding: .3rem;
		transition: all .2s;
	}

	&:hover {
		background-color: $color-mariner-primary;
		color: $color-white;
		box-shadow: 0 1rem 2rem rgba($color-black, .15);
		transistion: transateY(-2px);
	}

	&:active {
		box-shadow: 0 .5rem 1rem rgba($color-black, .15);
		transistion: transateY(0);

	}
}