.btn {
	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		padding: 1.5rem 4rem;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s; /*shorthand for transition*/
		position: relative;
		font-size: 1.6rem;
	}

	&:hover {
		transform: translateY(-.3rem);
		box-shadow: 0 1rem 2rem rgba($color-black, .3);

		&::after {
			transform: scale(1.5);
			opacity: 0;
		}
	
	}

	&:active {
		transform: translateY(-.1rem);
		box-shadow: 0 .5rem 1rem rgba($color-black, .3);
	}

	&::after {
		content: "";
		display: inline-block;
		height: 100%;
		width: 100%;
		border-radius: 10rem;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .4s;
		z-index: -1;
	}

	&--white {
		background-color: $color-white;
		color: $color-mariner-silver;
		
		&::after {
			background-color: $color-white;
		}
	}

	&--animated {
		animation: moveInBottom .5s ease-out .75s;
		animation-fill-mode: backwards;
	}
}