.card {

	//functionality of the card element
	perspective: 150rem;
	-moz-perspective: 150rem;
	position: relative;
	height: 53rem;

	&__side {
		height: 53rem;
		font-size: 5rem;
		transition: all .8s ease;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
		border-radius: 3px;
		box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
		overflow: hidden;

		&--front {
			background-color: $color-white;

		}

		&--back {
			transform: rotateY(180deg);

			&--1 {
				background-image: linear-gradient(to right bottom, $color-mariner-retro-blue, $color-mariner-retro-yellow);
				background-position: center;
				background-size: cover;
			}

			&--2 {
				background-image: linear-gradient(to right bottom, $color-mariner-retro-blue, $color-mariner-retro-yellow);
				background-position: center;
				background-size: cover;
			}

			&--3 {
				background-image: linear-gradient(to right bottom, $color-mariner-retro-blue, $color-mariner-retro-yellow);
				background-position: center;
				background-size: cover;
			}

			&--4 {
				background-image: linear-gradient(to right bottom, $color-mariner-retro-blue, $color-mariner-retro-yellow);
				background-position: center;
				background-size: cover;
			}
		}
	}

	&:hover &__side--front {
		transform: rotateY(-180deg);
	}

	&:hover &__side--back {
		transform: rotateY(0);

		&--1 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/kyle-seager-bobblehead.jpg);

		}

		&--2 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/robinson-cano-bobblehead.jpg);

		}

		&--3 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/james-paxton-bobblehead.jpg);

		}

		&--4 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/felix-hernandez-bobblehead.jpg);

		}
	}

	//----------- front of card styles ----------//
	&__picture {
		background-position: center;
		background-size: cover;
		height: 25rem;
		background-blend-mode: screen;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);

		&--1 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/kyle-seager-bh.jpg);
		}

		&--2 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/robinson-cano-bh.jpg);
		}

		&--3 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/james-paxton-bh.jpg);
		}

		&--4 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8) ), url(../images/felix-hernandez-bh.jpg);
		}
	}

	&__heading {
		font-size: 2.8rem;
		font-weight: 300;
		text-transform: uppercase;
		text-align: right;
		color: $color-white;
		position: absolute;
		top: 12rem;
		right: 2rem;
		width: 75%;
	}

	&__heading-span {
		padding: 1rem 1.5rem;
		-webkit-box-decoration-break: clone;
		box-decoration-break: clone;

		&--1 {
			background-image: linear-gradient(to right bottom, rgba($color-mariner-retro-yellow, .8), rgba($color-mariner-retro-blue, .8));
		}
	}

	&__details {
		padding: 3rem;

		ul {
			width: 80%;
			list-style: none;
			margin: 0 auto;

			li {
				text-align: center;
				font-size: 1.5rem;
				padding: 1rem;

				&:not(:last-child) {
					border-bottom: 1px solid $color-white-smoke;
				}
			}
		}
	}

	//----------- Back of card styles ----------//

	&__cta {
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0);
		text-align: center;
		width: 100%;
		padding: 4rem;
	}



	

	@include respond(tab-port) {
		height: auto;

		&__side {
			height: auto;
			position: relative;
			border-radius: 3px;

			&--back {
				transform: rotateY(0);
			}
		}

		&:hover &__side--front {
			transform: rotateY(0);
		}

		//----------- Back of card styles ----------//

		&__cta {
			position: absolute;
			top: 90%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
