.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba($color-black, .9);
	z-index: 9999;

	&__content {
		@include absoluteCenter;
		width:75%;
		height: 50rem;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-black, .3);
		border-radius: 4px;
	}
}