body {
	font-family: "lato", sans-serif;
	font-weight: 400;
	font-size: $default-font-size;
	line-height: 1.7;
	color: $color-mariner-silver;
	padding: 3rem;
}

.heading-primary {
	color: $color-white;
	text-transform: uppercase;
	margin-bottom: 10%;
	backface-visibility: hidden;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.3rem;
		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 400;
		letter-spacing: 2rem;
		animation: moveInRight 1s ease-out; /*shorthand for calling animations*/
	}
}

.heading-secondary {
	font-size: 4rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .2rem;
	background-image: linear-gradient(to right, $color-mariner-primary, $color-mariner-secondary);
	display: inline-block;
	-webkit-background-clip: text;
	color: transparent;
	transition: all .2s;

	&:hover {
		transform: skewY(6deg) skewX(6deg) scale(1.1);
		text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
	}

	&--1 {
		background-image: linear-gradient(to right, $color-mariner-primary, $color-mariner-retro-yellow);

	}
}

.heading-tertiary {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $default-font-size;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}

}