.utl-center-text { text-align: center !important; }

.utl-margin-bottom-small { margin-bottom: 1.5rem !important; }

.utl-margin-bottom-medium {
	margin-bottom: 4rem !important;
	
	@include respond(tab-port) {
		margin-bottom: 2rem !important;
	}

}

.utl-margin-bottom-big { 
	margin-bottom: 8rem !important; 
	
	@include respond(tab-port) {
		margin-bottom: 5rem !important;
	}
}

.utl-mariner-hashtag {  }

.utl-margin-top-big { margin-bottom: 12rem !important; }
