// main page for this site... more could be included if site needed more pages
.section-about {
	background-color: $color-white-smoke;
	padding: 25rem 0;
	margin-top: -15%;

	@include respond(tab-port) {
		padding: 15rem 0;
		margin-top: -25%;
	}
}

.section-features {
	padding: 20rem 0;
	background-image: linear-gradient(to right bottom, rgba($color-mariner-primary, 0.9), rgba($color-mariner-secondary, 0.9) ), url(../images/mariners-hero.jpg);
	background-size: cover;
	background-position: center;

	transform: skewY(7deg);
	margin-top: -9rem;
	
	//direct child selector to grab anything in this class I dont want warpped by undoing the warp.
	& > * {
		transform: skewY(-7deg);
	}

	@include respond(tab-port) {
		padding: 10rem 0;
	}
}

.section-events {
	background-color: $color-white-smoke;
	padding: 15rem 0 10rem 0;
	margin-top: -9rem;

	@include respond(tab-port) {
		padding: 10rem 0;
	}
}

.section-stories {
	padding: 5em 0;
	position: relative;

	@include respond(tab-port) {
		padding: 20rem 0 10rem 0;
	}
}

.section-newsletter {
	padding: 15rem 0;
	background-image: linear-gradient(to right bottom, $color-mariner-primary, $color-mariner-secondary);
}

.newsletter {
	background-image: linear-gradient(105deg, rgba($color-white, .8) 0%, rgba($color-white, .8) 48%, transparent 48%), url(../images/ichiro.png);
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 1.5rem 4rem rgba($color-black, .3);
	
	@include respond(tab-land) {
		background-image: linear-gradient(105deg, rgba($color-white, 1) 0%, rgba($color-white, .8) 70%), url(../images/ichiro.png);

	}

	&__form {
		width: 49%;
		padding: 6rem;

		@include respond(tab-land) {
			width: 70%;
		}
		@include respond(tab-port) {
			width: 100%;
		}

	}
}